@charset "UTF-8";
.nextBTN,
.cancelBTN {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #76391B;
  box-shadow: 0px 4px 0px #FED44F;
  border-radius: 100px;
  transition: .2s;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  background-color: #BB7232;
  color: #fff;
  font-family: 微軟正黑體, arial, "sans serif";
  border: 0; }
  .nextBTN:hover,
  .cancelBTN:hover {
    opacity: .7;
    transition: .2s; }
  .nextBTN:active,
  .cancelBTN:active {
    top: 2px; }

.cancelBTN {
  background-color: #FCF2CA;
  color: #76391B; }

.mainBTN {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  color: #76391B;
  background-color: #FCE444;
  box-shadow: 0px 4px 0px #76391B;
  border-radius: 100px;
  transition: .2s;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  max-width: 200px;
  transition: .2s; }
  .mainBTN:hover {
    opacity: .7;
    transition: .2s; }
  .mainBTN:active {
    top: 2px; }

.subBTN {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #76391B;
  box-shadow: 0px 4px 0px #FED44F;
  border-radius: 100px;
  transition: .2s;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  max-width: 200px;
  transition: .2s; }
  .subBTN:hover {
    opacity: .7;
    transition: .2s; }
  .subBTN:active {
    top: 2px; }

.plusAndMinus {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #BB7232;
  box-shadow: 0px 4px 0px #76391B;
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  color: #FCF2CA; }
  .plusAndMinus:hover {
    opacity: .6;
    transition: .3s; }
  .plusAndMinus:active {
    top: 2px;
    box-shadow: 0px 2px 0px #76391B; }

body {
  width: 1200px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap; }

td {
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  text-align: center; }

div {
  display: inline-block; }

.mainBTN.v2 {
  z-index: 1;
  transition: 1s;
  box-shadow: 0 0 0 0;
  height: 40px; }
  .mainBTN.v2:hover {
    opacity: 1;
    transition: 1s; }
    .mainBTN.v2:hover .wrap .mainBall {
      top: -40%; }

.wrap {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  left: 0;
  filter: url(#goo);
  z-index: -1; }
  .wrap .mainBall {
    width: 100px;
    height: 70px;
    background-color: #ffc853;
    position: absolute;
    border-radius: 50%;
    top: 105%;
    z-index: 1; }
  .wrap .b1 {
    left: -15%;
    transition: 1.2s; }
  .wrap .b2 {
    left: 50%;
    transform: translateX(-50%);
    transition: 1s; }
  .wrap .b3 {
    left: 60%;
    transition: 1.5s; }

.subBTN.v2 {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1; }
  .subBTN.v2 .subBall {
    position: absolute;
    top: auto;
    left: auto;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #b86b28;
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .subBTN.v2:hover {
    color: tint(#b86b28, 75%);
    opacity: 1; }
    .subBTN.v2:hover .subBall {
      height: 500px;
      width: 500px; }

.cancelBTN.v2 {
  z-index: 5;
  transition: 0; }
  .cancelBTN.v2:hover {
    opacity: 1; }
    .cancelBTN.v2:hover .cancelBall {
      width: 65px;
      height: 65px;
      transform: translate(-50%, -50%); }
  .cancelBTN.v2 .wrap {
    background-color: #ffc853;
    overflow: visible;
    filter: url(#goo); }
  .cancelBTN.v2 .cancelBall {
    width: 40px;
    height: 30px;
    background-color: #ffc853;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%/ 60% 40% 60% 40%;
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
    transform: translate(-50%, 0%);
    z-index: -1;
    transition: .2s; }
