@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體; }

@media screen and (min-width: 767px) {
  .part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-1 {
    width: 8.33333%; }
  .part-2 {
    width: 16.66667%; }
  .part-3 {
    width: 25%; }
  .part-4 {
    width: 33.33333%; }
  .part-5 {
    width: 41.66667%; }
  .part-6 {
    width: 50%; }
  .part-7 {
    width: 58.33333%; }
  .part-8 {
    width: 66.66667%; }
  .part-9 {
    width: 75%; }
  .part-10 {
    width: 83.33333%; }
  .part-11 {
    width: 91.66667%; }
  .part-12 {
    width: 100%; }
  .coll_slogan {
    width: 100%;
    height: 300px;
    background-image: url(../images/slogan1920.png);
    font-size: 0;
    position: relative;
    z-index: -2;
    margin: 0;
    text-align: center; }
  .coll_slogan_title {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 5% 0; }
  #coll_slogan_txt {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #000;
    opacity: 1;
    font-size: 48px;
    text-align: center;
    max-width: 200px; }
  .coll_slogan_title p {
    max-width: 600px;
    font-size: 30px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_left {
    text-align: left; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%;
    display: inline-block; }
  .coll_slogan_pic_icon {
    width: 5%; }
  .move {
    animation: shake-slowNoMove 10s ease-in-out infinite; }
  @keyframes shake-slowNoMove {
    0% {
      transform: translate(0, 0) rotate(0); }
    2% {
      transform: translate(2px, -9px) rotate(2.5deg); }
    4% {
      transform: translate(-4px, 5px) rotate(-2.5deg); }
    6% {
      transform: translate(-8px, 8px) rotate(3.5deg); }
    8% {
      transform: translate(-7px, 4px) rotate(-1.5deg); }
    10% {
      transform: translate(7px, 0px) rotate(1.5deg); }
    12% {
      transform: translate(3px, 8px) rotate(-0.5deg); }
    14% {
      transform: translate(4px, 4px) rotate(0.5deg); }
    16% {
      transform: translate(-4px, -4px) rotate(3.5deg); }
    18% {
      transform: translate(-8px, -7px) rotate(3.5deg); }
    20% {
      transform: translate(-9px, 8px) rotate(2.5deg); }
    22% {
      transform: translate(-9px, -5px) rotate(-2.5deg); }
    24% {
      transform: translate(4px, -7px) rotate(-2.5deg); }
    26% {
      transform: translate(-1px, 3px) rotate(1.5deg); }
    28% {
      transform: translate(-3px, -7px) rotate(3.5deg); }
    30% {
      transform: translate(6px, -9px) rotate(2.5deg); }
    32% {
      transform: translate(8px, -5px) rotate(-2.5deg); }
    34% {
      transform: translate(7px, 8px) rotate(1.5deg); }
    36% {
      transform: translate(2px, 5px) rotate(-2.5deg); }
    38% {
      transform: translate(-6px, 0px) rotate(2.5deg); }
    40% {
      transform: translate(9px, 7px) rotate(-2.5deg); }
    42% {
      transform: translate(-2px, -2px) rotate(-0.5deg); }
    44% {
      transform: translate(0px, -6px) rotate(-2.5deg); }
    46% {
      transform: translate(-5px, 2px) rotate(1.5deg); }
    48% {
      transform: translate(-8px, -7px) rotate(3.5deg); }
    50% {
      transform: translate(-5px, -6px) rotate(-2.5deg); }
    52% {
      transform: translate(8px, 1px) rotate(-2.5deg); }
    54% {
      transform: translate(-1px, -1px) rotate(-2.5deg); }
    56% {
      transform: translate(5px, -1px) rotate(2.5deg); }
    58% {
      transform: translate(-6px, -8px) rotate(-2.5deg); }
    60% {
      transform: translate(5px, 5px) rotate(3.5deg); }
    62% {
      transform: translate(-4px, -2px) rotate(1.5deg); }
    64% {
      transform: translate(-5px, 7px) rotate(3.5deg); }
    66% {
      transform: translate(7px, 4px) rotate(0.5deg); }
    68% {
      transform: translate(-5px, -2px) rotate(-2.5deg); }
    70% {
      transform: translate(1px, 3px) rotate(-1.5deg); }
    72% {
      transform: translate(-6px, 0px) rotate(2.5deg); }
    74% {
      transform: translate(1px, 9px) rotate(2.5deg); }
    76% {
      transform: translate(10px, -5px) rotate(-2.5deg); }
    78% {
      transform: translate(-5px, 4px) rotate(3.5deg); }
    80% {
      transform: translate(-6px, 1px) rotate(0.5deg); }
    82% {
      transform: translate(9px, 10px) rotate(2.5deg); }
    84% {
      transform: translate(-1px, 5px) rotate(-1.5deg); }
    86% {
      transform: translate(4px, 1px) rotate(2.5deg); }
    88% {
      transform: translate(-5px, -7px) rotate(1.5deg); }
    90% {
      transform: translate(-8px, -2px) rotate(0.5deg); }
    92% {
      transform: translate(10px, -9px) rotate(-0.5deg); }
    94% {
      transform: translate(7px, 6px) rotate(-0.5deg); }
    96% {
      transform: translate(6px, 1px) rotate(-2.5deg); }
    98% {
      transform: translate(5px, 0px) rotate(1.5deg); }
    100% {
      transform: translate(0, 0) rotate(0); } }
  .coll_slogan_txt {
    font-size: 48px; }
  .coll_panel {
    width: calc(25% - 20px);
    display: block; }
  .coll_total {
    width: 45%;
    height: 200px;
    border-radius: 999px;
    background-color: #E69500;
    margin: 35px 26% 0;
    z-index: 2; }
  .coll_total_num {
    text-align: center;
    font-size: 30px;
    border-radius: 999px;
    color: #fff;
    margin: 60px 0 0 0; }
  .coll_total_title {
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 20px; }
  .coll_total_s {
    display: none; }
  .coll_kind {
    box-sizing: border-box;
    border: 15px #bc5437 solid;
    border-radius: 10px;
    width: 80%;
    background-color: #fff;
    margin: 140px 10% 0;
    padding: 80px 0 0 0px;
    box-shadow: 2px 2px 4px 4px #ddd;
    z-index: 0; }
  .coll_kind_item {
    width: calc(33.33333% - 3px);
    display: inline-block;
    float: none;
    font-size: 0px; }
  .coll_kind_item p {
    font-size: 30px;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    color: #333333;
    font-size: 24px; }
  .kind_icon {
    width: 100%;
    margin: 20px 0;
    position: relative; }
  .coll_kind_item:hover {
    background: #BB7232; }
  .kind_icon:hover + .coll_kind_item_title {
    color: #333333;
    background: #fff; }
  .coll_title {
    background-color: #FCF2A8;
    margin: 0; }
  .coll_title_kind {
    margin: 0 0 50px 0; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff;
    border: 2px #333333 solid;
    border-radius: 10px;
    box-sizing: border-box; }
  .coll_title_kind_text {
    width: 10%;
    height: 50px; }
  .title_kind_icon {
    width: 80%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 45%;
    height: 100px; }
  .coll_title_kind_text p {
    font-size: 30px;
    text-align: center; }
  .title_kind_line_icon {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto; }
  .coll_food {
    width: 50%; }
  .coll_food {
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 10px 10px;
    font-size: 0px;
    background-color: #fff;
    border-radius: 20px; }
  .coll_food::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .coll_food_pic_icon:hover {
    transform: scale(1.25, 1.25); }
  .coll_food_pic_icon:hover::after {
    opacity: 1; }
  .coll_food_X {
    border-bottom: 2px solid #333333; }
  .coll_food_X_icon {
    float: right;
    width: 10%; }
  .coll_food_pic_icon {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .coll_food_title p {
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border: 2px #ccc solid;
    border-radius: 10px;
    background-color: #BB7232;
    color: #fff; }
  .coll_food_score {
    margin: 10px 0;
    text-align: center; }
  .scoreEgg-container ul li {
    display: inline-block;
    width: 40px;
    margin: 0 5px; }
  .pic img {
    width: 100%; }
  .coll_food_title_icon {
    width: 13%;
    margin: 0 2px; }
  .coll_food_info {
    float: none;
    display: none; }
  .coll_food_info p {
    font-size: 16px;
    line-height: 1.6; }
  .coll_food_price {
    width: 34%;
    float: left; }
  .coll_food_price p {
    color: #333333;
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center; }
  .coll_food_pic {
    text-align: center; }
  .coll_food_pic_icon {
    width: 80%;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center;
    padding: 0;
    margin: 4px 0; }
  .coll_food_shop_button {
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle; }
  .mainBTN {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #76391B;
    background-color: #FCE444;
    box-shadow: 0px 4px 0px #76391B;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    max-width: 200px;
    transition: .2; }
    .mainBTN:hover {
      opacity: .7;
      transition: .2s; }
    .mainBTN:active {
      top: 2px; }
  .coll_food_shop_text {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    margin: 0px;
    color: #BB7232;
    padding: 0 5px; }
  .coll_food_shop_icon {
    margin: 0px 0 0px 5px;
    display: inline-block;
    vertical-align: baseline;
    width: 13%; }
  .coll_nocoll {
    text-align: center;
    font-size: 36px; }
  #coll_nocoll_txt {
    font-size: 24px; }
  .coll_food_shop {
    padding: 0;
    margin: 4px 0; }
  .coll_nocoll_txt {
    width: 50%; } }

@media screen and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0; }
  .part-l-1, .part-l-2, .part-l-3, .part-l-4, .part-l-5, .part-l-6, .part-l-7, .part-l-8, .part-l-9, .part-l-10, .part-l-11, .part-l-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-l-1 {
    width: 8.33333%; }
  .part-l-2 {
    width: 16.66667%; }
  .part-l-3 {
    width: 25%; }
  .part-l-4 {
    width: 33.33333%; }
  .part-l-5 {
    width: 41.66667%; }
  .part-l-6 {
    width: 50%; }
  .part-l-7 {
    width: 58.33333%; }
  .part-l-8 {
    width: 66.66667%; }
  .part-l-9 {
    width: 75%; }
  .part-l-10 {
    width: 83.33333%; }
  .part-l-11 {
    width: 91.66667%; }
  .part-l-12 {
    width: 100%; }
  .coll_slogan {
    width: 100%;
    height: 100px;
    background-image: url(../images/slogan1920.jpg);
    background-size: 100% 100%;
    font-size: 0; }
  .coll_slogan_title {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    opacity: 1; }
  .coll_slogan_txt {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 1;
    max-width: 200px;
    color: #fff; }
  .coll_slogan_title p {
    font-size: 20px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%; }
  .coll_slogan_pic_icon {
    width: 5%; }
  .coll_panel {
    width: 100%;
    display: block;
    font-size: 0; }
  .coll_total_background {
    background-image: url(/images/slogan1024.jpg); }
  .coll_total {
    max-width: 100px;
    height: 100px;
    border-radius: 999px;
    background-color: #FFBA3B;
    margin: 10px 0 10px 20%;
    z-index: 2;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0; }
  .coll_total_num {
    text-align: center;
    padding: 25px;
    margin: 0;
    font-size: 30px;
    color: #fff; }
  .coll_total_title {
    font-size: 16px;
    display: none; }
  .coll_total_s {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0 20px;
    text-align: center; }
  .coll_total_s p {
    font-size: 24px;
    min-width: 170px; }
  .coll_kind {
    box-sizing: border-box;
    border: 15px #bc5437 solid;
    border-radius: 10px;
    width: 80%;
    max-width: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px 4px #ddd;
    z-index: 0;
    margin: 0 10%;
    padding: 0; }
  .coll_kind_item {
    float: none;
    display: inline-block; }
  .coll_kind_item p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center; }
  .kind_icon {
    display: block;
    width: 100%;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    margin: 2px 0; }
  .coll_kind_item:hover {
    background: #BB7232; }
  .kind_icon:hover + .coll_kind_item_title {
    color: #333333;
    background: #fff; }
  .coll_title {
    background-color: #FCF2A8;
    margin: 0;
    padding: 0; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff; }
  .coll_title_kind {
    margin: 10% 0;
    font-size: 0;
    padding: 0; }
  .title_kind_icon {
    width: 25%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 25%;
    height: 50px;
    display: inline-block;
    font-size: 0px;
    padding: 0; }
  .coll_title_kind_text {
    font-size: 0px;
    width: 50%;
    height: 50px;
    display: inline-block;
    height: 120px;
    text-align: center;
    padding: 0; }
  .title_kind_line_icon {
    font-size: 0px;
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 0; }
  .coll_title_kind_text p {
    margin: auto;
    font-size: 24px;
    display: inline-block;
    padding: 0; }
  .coll_food {
    width: calc(50% - 10px);
    box-sizing: border-box;
    margin: 5px 5px;
    border: 2px solid #fff;
    border-radius: 20px; }
  .coll_food::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .coll_food_pic_icon:hover {
    transform: scale(1.25, 1.25); }
  .coll_food_pic_icon:hover::after {
    opacity: 1; }
  .coll_food_X_icon {
    float: right;
    width: 10%; }
  .coll_food_title p {
    line-height: 40px;
    font-size: 24px;
    text-align: center; }
  .coll_food_title p {
    text-align: center;
    border: 2px #ccc solid;
    border-radius: 10px;
    background-color: #BB7232;
    color: #fff; }
  .coll_food_score {
    margin: auto;
    text-align: center; }
  .coll_food_title_icon {
    width: 15%;
    margin: auto; }
  .coll_food_info {
    display: none; }
  .coll_food_info_text {
    padding: 1px; }
  .coll_food_price p {
    color: #333333;
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center;
    margin: 10px 0; }
  .coll_food_pic_icon {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center; }
  .coll_food_shop_text {
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline; }
  .mainBTN {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #76391B;
    background-color: #FCE444;
    box-shadow: 0px 4px 0px #76391B;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    max-width: 200px;
    transition: .2; }
    .mainBTN:hover {
      opacity: .7;
      transition: .2s; }
    .mainBTN:active {
      top: 2px; }
  .coll_food_shop_icon {
    display: inline-block;
    vertical-align: baseline;
    width: 15%;
    margin: 0px 0 -4px 5px; } }

@media screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0; }
  .part-s-1, .part-s-2, .part-s-3, .part-s-4, .part-s-5, .part-s-6, .part-s-7, .part-s-8, .part-s-9, .part-s-10, .part-s-11, .part-s-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-s-1 {
    width: 8.33333%; }
  .part-s-2 {
    width: 16.66667%; }
  .part-s-3 {
    width: 25%; }
  .part-s-4 {
    width: 33.33333%; }
  .part-s-5 {
    width: 41.66667%; }
  .part-s-6 {
    width: 50%; }
  .part-s-7 {
    width: 58.33333%; }
  .part-s-8 {
    width: 66.66667%; }
  .part-s-9 {
    width: 75%; }
  .part-s-10 {
    width: 83.33333%; }
  .part-s-11 {
    width: 91.66667%; }
  .part-s-12 {
    width: 100%; }
  .coll_slogan {
    width: 100%;
    height: 100px;
    background-image: url(/images/slogan1920.jpg);
    background-size: 100% 100%;
    font-size: 0;
    opacity: 0.7; }
  .coll_slogan_title {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin: 5% auto; }
  .coll_slogan_title p {
    max-width: 200px;
    font-size: 42px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%; }
  .coll_slogan_pic_icon {
    width: 5%; }
  #coll_slogan_txt {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff; }
  .coll_panel {
    width: 100%;
    height: 400px;
    display: block;
    font-size: 0; }
  .coll_total_background {
    background-image: url(../images/slogan1024.jpg); }
  .coll_total {
    max-width: 100px;
    height: 100px;
    border-radius: 999px;
    background-color: #FFBA3B;
    margin: 10px 0 10px 20%;
    z-index: 2;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0; }
  .coll_total_num {
    text-align: center;
    padding: 25px 0 25px;
    font-size: 30px; }
  .coll_total_title {
    font-size: 16px;
    display: none; }
  .coll_total_s {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0 0px; }
  .coll_total_s p {
    font-size: 24px;
    min-width: 170px; }
  .coll_kind {
    margin: 0;
    padding: 0; }
  .coll_kine_item {
    margin: 0 5px;
    width: calc(16.66667% - 10px); }
  .coll_kind_item p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center; }
  .kind_icon {
    display: block;
    width: 100%;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    margin: 2px 0; }
  .coll_kind_item:hover {
    background: #BB7232; }
  .kind_icon:hover + .coll_kind_item_title {
    color: #333333;
    background: #fff; }
  .coll_title {
    background-color: #FCF2A8; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff; }
  .coll_title_kind {
    margin: 0 0 15px 0;
    font-size: 0;
    padding: 0; }
  .title_kind_icon {
    width: 40%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 25%;
    height: 50px;
    display: inline-block;
    font-size: 0px;
    padding: 0; }
  .coll_title_kind_text {
    font-size: 0px;
    width: 50%;
    height: 50px;
    display: inline-block;
    height: 120px;
    text-align: center;
    padding: 0; }
  .title_kind_line_icon {
    font-size: 0px;
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 0; }
  .coll_title_kind_text p {
    margin: auto;
    font-size: 24px;
    display: inline-block;
    padding: 0; }
  .coll_food {
    width: calc(50% - 10px);
    min-height: 376.52px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #fff; }
  .coll_food::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .coll_food_pic_icon:hover {
    transform: scale(1.25, 1.25); }
  .coll_food_pic_icon:hover::after {
    opacity: 1; }
  .coll_food_X {
    border-bottom: 2px solid #000;
    text-align: right;
    margin: 0 0 5px 0;
    display: inline-block; }
  .coll_food_X_icon {
    float: none;
    width: 10%; }
  .coll_food_title {
    min-height: 84px; }
  .coll_food_title p {
    margin: 0 0 5px 0;
    line-height: 40px;
    font-size: 24px;
    text-align: center; }
  .coll_food_score {
    margin: 0 0 5px 0;
    text-align: center; }
  .score {
    width: 180%; }
  .coll_food_title_icon {
    width: 15%;
    margin: auto; }
  .coll_food_info {
    display: none; }
  .coll_food_info_text {
    padding: 1px; }
  .coll_food_price p {
    color: #333333;
    font-size: 27px;
    padding: 0 0 0 0;
    text-align: center;
    margin: 10px 0; }
  .pic {
    width: 20%; }
  .coll_food_pic_icon {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center; }
  .coll_food_shop_text {
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline; }
  .coll_food_shop_icon {
    display: inline-block;
    vertical-align: baseline;
    width: 15%;
    margin: 0px 0 -4px 5px; } }

header {
  height: 80px;
  z-index: 2; }
  header * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none; }
  header #navctrl {
    display: none; }
    header #navctrl:checked ~ .phone_nav .hb .line {
      transform: rotate(360deg);
      opacity: 0;
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:before {
      transform: translateY(13.5px) rotate(225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:after {
      transform: translateY(-13px) rotate(-225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ nav {
      transform: translate(-350px, 1000px) rotate(0deg);
      top: -1000px;
      left: 350px;
      transition: transform 1s; }
  header .phone_nav {
    padding: 0 40px 0 10px;
    height: 75px;
    background: url(../images/nav_background_768.png) repeat-x;
    position: relative; }
    header .phone_nav:after {
      content: '';
      width: 0;
      height: 120%;
      display: inline-block;
      vertical-align: middle; }
    header .phone_nav div {
      width: 33.33333333%;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      header .phone_nav div.nav_left {
        text-align: left; }
      header .phone_nav div.nav_right {
        text-align: right; }
    header .phone_nav .hb {
      margin: auto;
      width: 70px;
      height: 50px;
      cursor: pointer;
      opacity: .8;
      transition: .5s;
      position: absolute;
      top: 28%;
      z-index: 1001; }
      header .phone_nav .hb .line, header .phone_nav .hb:before, header .phone_nav .hb:after {
        content: '';
        margin: auto;
        width: 60%;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 21%;
        left: 0;
        transition: 0.3s; }
      header .phone_nav .hb:before {
        bottom: auto; }
      header .phone_nav .hb:after {
        top: auto; }
    header .phone_nav .logo img {
      height: 90px; }
    header .phone_nav .seach_button {
      padding: 23px 9px 18px;
      color: #76391b;
      border-radius: 50%;
      background-color: #fcf2ca;
      box-shadow: 1px 3px 1px #ad6631;
      cursor: pointer; }
      header .phone_nav .seach_button img {
        margin-top: -6px;
        vertical-align: middle; }
  header nav {
    transition: 1s;
    position: absolute;
    transform: translate(0, 0) rotate(-90deg);
    top: -1000px;
    left: 350px;
    transition: transform 1s; }
    header nav:before {
      content: '';
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background-color: #425075;
      transform-origin: left top;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0; }
    header nav ul {
      position: relative;
      left: 50%; }
      header nav ul li {
        margin-bottom: 20px; }
      header nav ul .logo {
        margin-bottom: 30px; }
        header nav ul .logo img {
          margin-top: -15px;
          height: 140px; }
      header nav ul .member {
        margin-bottom: 35px; }
        header nav ul .member .before_login {
          display: none; }
          header nav ul .member .before_login a {
            margin-right: 20px; }
        header nav ul .member .after_login {
          display: inline-block; }
          header nav ul .member .after_login div {
            display: inline-block;
            vertical-align: middle; }
            header nav ul .member .after_login div .member_Pic {
              width: 35px;
              height: 35px;
              border-radius: 50%; }
            header nav ul .member .after_login div img {
              cursor: pointer; }
            header nav ul .member .after_login div span {
              padding: 5px 10px;
              font-size: 12px;
              color: #fff;
              display: inline-block; }
              header nav ul .member .after_login div span .achievement_Pic {
                margin: -5px 8px 0 2px;
                vertical-align: middle; }
  header #white_Point_control {
    display: none; }
    header #white_Point_control:checked ~ .white_Point {
      width: 70vmin;
      height: 70vmin;
      transform: translate(-50%, -50%);
      transition: 1s;
      top: 50%;
      left: 50%; }
      header #white_Point_control:checked ~ .white_Point li {
        display: inline-block; }
  header .white_Point {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #425075;
    position: fixed;
    transition: 1s;
    top: 80px;
    right: 0%;
    z-index: 101; }
    header .white_Point.floaty.active {
      z-index: 10001; }
    header .white_Point.floaty:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-top: 0; }
    header .white_Point.floaty.active:before {
      content: "";
      display: block;
      top: -500%;
      left: -500%;
      width: 1100%;
      height: 1100%; }
    header .white_Point ul {
      text-align: center; }
      header .white_Point ul li {
        margin: 0 auto;
        width: 50%;
        height: 23.33333333vmin;
        display: none; }
        header .white_Point ul li:after {
          content: '';
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        header .white_Point ul li a {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block; }
          header .white_Point ul li a img {
            margin-bottom: 5px;
            width: 40%; }
        header .white_Point ul li:nth-of-type(1) {
          width: 100%; }
        header .white_Point ul li:nth-of-type(4), header .white_Point ul li:nth-of-type(5) {
          max-width: 120px; }
  header #view1 {
    display: none; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../images/nav_background.png);
    font-size: 0;
    text-align: center; }
    header #navctrl:checked ~ nav {
      transform: translate(0, 0) rotate(0deg);
      top: 0px;
      left: 0px;
      transition: 0s; }
    header .phone_nav {
      padding: 0;
      width: 14.28571428%;
      height: 100px;
      background: none;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      header .phone_nav div.nav_right {
        width: 100%;
        text-align: center; }
        header .phone_nav div.nav_right .seach_button {
          padding: 10px 40px 10px 10px;
          border-radius: 20px;
          font-size: 16px; }
      header .phone_nav .nav_left, header .phone_nav .logo {
        font-size: 0;
        margin: 0;
        padding: 0;
        display: none; }
        header .phone_nav .nav_left img, header .phone_nav .logo img {
          height: 120px; }
    header nav {
      width: 71.42857142%;
      position: relative;
      display: inline-block;
      transform: translate(0, 0) rotate(0deg);
      transition: 0s;
      top: 0px;
      left: 0px;
      vertical-align: top; }
      header nav:before {
        display: none; }
      header nav ul {
        width: 100%;
        height: 100px;
        display: inline-block;
        position: static; }
        header nav ul li {
          width: 20%;
          height: 100px;
          display: inline-block;
          vertical-align: top; }
          header nav ul li:after {
            content: '';
            width: 0;
            height: 120%;
            display: inline-block;
            vertical-align: middle; }
          header nav ul li.table_hidden {
            display: none; }
          header nav ul li.logo {
            transform: translateX(200%); }
          header nav ul li.member {
            transform: translateX(300%); }
          header nav ul li.meals {
            transform: translateX(100%); }
          header nav ul li.initiate {
            transform: translateX(-300%); }
          header nav ul li.participate {
            transform: translateX(-300%); }
    header #white_Point_control {
      display: none; }
      header #white_Point_control:checked ~ .white_Point {
        width: 14.28571428%;
        height: 100px;
        transform: translate(0, 0);
        transition: 0s;
        position: static; }
        header #white_Point_control:checked ~ .white_Point li.table_hidden {
          display: none; }
    header .white_Point {
      margin: auto;
      width: 14.28571428%;
      height: 100px;
      border-radius: 0;
      background: none;
      vertical-align: top;
      display: inline-block;
      transform: translate(0, 0);
      transition: 0s;
      position: static; }
      header .white_Point:checked ~ .white_Point {
        width: 50px;
        height: 50px;
        transform: translate(0, 0);
        position: static; }
      header .white_Point ul {
        height: 100%; }
        header .white_Point ul:after {
          content: '';
          width: 0;
          height: 120%;
          display: inline-block;
          vertical-align: middle; }
        header .white_Point ul li {
          width: auto;
          height: auto;
          display: inline-block; }
          header .white_Point ul li.table_hidden {
            display: none; }
          header .white_Point ul li:nth-of-type(1) {
            width: auto; }
          header .white_Point ul li a {
            margin: 0 8px;
            padding: 6px;
            font-size: 0;
            color: #76391b;
            border-radius: 20px;
            background-color: #fcf2ca;
            box-shadow: 1px 3px 1px #ad6631;
            display: inline-block;
            position: relative; }
            header .white_Point ul li a img {
              width: 25px;
              height: 25px; }
            header .white_Point ul li a span {
              padding: 3px 7px 5px;
              font-size: 8px;
              color: #fff;
              background-color: #AD6631;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: -4px; }
    header #view1, header #view2, header #view3, header #view4, header #view5, header #view6, header #view7 {
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      header #view1 .slice, header #view2 .slice, header #view3 .slice, header #view4 .slice, header #view5 .slice, header #view6 .slice, header #view7 .slice {
        width: 100%;
        height: 10px;
        transform-style: preserve-3d;
        transform-origin: center top;
        transition: 150ms ease-in-out;
        background-image: url(../images/nav_background.png);
        perspective: 1000px;
        position: relative;
        top: 100%; }
      header #view1 .s1, header #view2 .s1, header #view3 .s1, header #view4 .s1, header #view5 .s1, header #view6 .s1, header #view7 .s1 {
        height: 80px;
        background: none;
        top: 0; }
    header li:not(.logo):not(.member):hover .s2 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 150ms;
      transform: translate3d(-4px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header li:not(.logo):not(.member):hover .s3 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 100ms;
      transform: translate3d(-6px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header #view1 .s1 {
      background-position: 0% 0; }
    header #view1 .s2 {
      background-position: 0% -80px; }
    header #view1 .s3 {
      background-position: 0% -90px; }
    header #view2 .s1 {
      background-position: -100% 0; }
    header #view2 .s2 {
      background-position: -100% -80px; }
    header #view2 .s3 {
      background-position: -100% -90px; }
    header #view3 .s1 {
      background-position: -200% 0; }
    header #view3 .s2 {
      background-position: -200% -80px; }
    header #view3 .s3 {
      background-position: -200% -90px; }
    header #view4 .s1 {
      background-position: -300% 0; }
    header #view4 .s2 {
      background-position: -300% -80px; }
    header #view4 .s3 {
      background-position: -300% -90px; }
    header #view5 .s1 {
      background-position: -400% 0; }
    header #view5 .s2 {
      background-position: -400% -80px; }
    header #view5 .s3 {
      background-position: -400% -90px; }
    header #view6 .s1 {
      background-position: -500% 0; }
    header #view6 .s2 {
      background-position: -500% -80px; }
    header #view6 .s3 {
      background-position: -500% -90px; }
    header #view7 .s1 {
      background-position: -600% 0; }
    header #view7 .s2 {
      background-position: -600% -80px; }
    header #view7 .s3 {
      background-position: -600% -90px; } }
