@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 微軟正黑體, arial, "sans serif";
  color: #333333;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

.bookmark_cetentier div, .bookmark_cetentier label,
.bookmark_cetentier #meal_Price1,
.bookmark_cetentier #meal_Price2, .bookmark_cetentier_item span {
  display: inline-block;
  vertical-align: middle; }

.close_chatBot::before, .close_chatBot::after, .close_search::before, .close_search::after, .close_login::before, .close_login::after {
  display: block;
  background-color: #76391B;
  width: 35px;
  height: 3px;
  position: absolute; }

#chatBot {
  width: 100%;
  height: calc(100% - 75px);
  position: absolute;
  left: 0;
  z-index: 10; }
  #chatBot * {
    box-sizing: border-box; }

.chatBot_contenier_wrap {
  display: none;
  height: 100%;
  background-color: #208ee8;
  padding: 0 16px;
  text-align: center;
  letter-spacing: 1px; }
  .chatBot_contenier_wrap h3 {
    padding: 15px 0;
    display: inline-block;
    font-weight: bold;
    color: #fff; }

#chatBot_content {
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  height: calc(100% - 175px);
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 16px 0; }
  #chatBot_content::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #425075;
    background-color: rgba(66, 80, 117, 0.7);
    border-radius: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  #chatBot_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  #chatBot_content p {
    border-radius: 10px;
    background-color: #FCE444;
    padding: 10px;
    line-height: 1.6em;
    margin: 10px 0;
    position: relative; }
  #chatBot_content .chatBot_content_A {
    float: left;
    margin-right: 14%; }
    #chatBot_content .chatBot_content_A:after {
      content: '';
      width: 100%;
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_A:before {
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #FCE444;
      border-left: 15px solid transparent;
      position: absolute;
      top: 5px;
      left: -25px; }
  #chatBot_content .chatBot_content_Q {
    float: right; }
    #chatBot_content .chatBot_content_Q:after {
      content: '';
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_Q:before {
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid #FCE444;
      position: absolute;
      top: 5px;
      right: -25px; }

.chatBot_keyword {
  padding: 10px 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .chatBot_keyword::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #425075;
    background-color: rgba(66, 80, 117, 0.7);
    border-radius: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  .chatBot_keyword::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  .chatBot_keyword li {
    display: inline-block;
    margin-left: 5px;
    background-color: #FF5000;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer; }

.chatBot_text_Wrap {
  padding: 16px 0;
  position: relative; }

#chatBot_search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.chatBot_text {
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: 0; }

#close_chatBot {
  display: none; }

.close_chatBot_pic img {
  width: 100px;
  vertical-align: middle; }

.close_chatBot {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer; }
  .close_chatBot::before {
    content: '';
    transform: rotate(-45deg);
    top: calc( 100% - 17px);
    left: calc( 50% - 17px); }
    .close_chatBot::before::before {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
    .close_chatBot::before::after {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
  .close_chatBot::after {
    content: '';
    transform: rotate(45deg);
    top: calc( 100% - 17px);
    left: calc( 50% - 17px); }
    .close_chatBot::after::before {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
    .close_chatBot::after::after {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }

#close_chatBot:checked ~ #chatBot {
  top: 75px; }

#chatBot .close_chatBot_pic img {
  display: none; }

#close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
  display: block;
  width: auto;
  transition: height 0.4s; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  #chatBot {
    width: auto;
    max-width: 380px;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    height: auto;
    z-index: 99; }
  .close_chatBot_pic {
    float: right;
    cursor: pointer; }
  .chatBot_contenier_wrap {
    width: 0;
    height: 0;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden; }
    .chatBot_contenier_wrap .close_chatBot {
      width: 30px;
      height: 40px;
      position: absolute;
      right: 15px;
      opacity: 0;
      cursor: pointer; }
  .chatBot_keyword {
    padding: 10px 0;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; }
  .chatBot_text {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 0; }
  #close_chatBot:checked ~ #chatBot {
    top: auto; }
  #close_chatBot:checked ~ #chatBot .close_chatBot {
    opacity: 1;
    transition: 0.8s; }
  #chatBot .close_chatBot_pic img {
    display: block; }
  #close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
    display: block;
    height: 420px; } }

#close_search {
  display: none; }

#close_search:checked ~ .search_wrap {
  display: none; }

.close_search {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 6;
  cursor: pointer; }
  .close_search::before {
    content: '';
    transform: rotate(-45deg);
    top: calc( 50% - 17px);
    left: calc( 50% - 17px); }
  .close_search::after {
    content: '';
    transform: rotate(45deg);
    top: calc( 50% - 17px);
    left: calc( 50% - 17px); }

.search_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 60px;
  z-index: 11; }
  .search_wrap * {
    box-sizing: border-box; }
  .search_wrap input[type="checkbox"] {
    display: none; }
  .search_wrap .search_bg {
    width: calc(100% - 32px);
    padding-top: 50px;
    padding-bottom: 5px;
    margin: auto;
    background-color: #FCF2CA; }
  .search_wrap .input_wrap {
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid #BB7232;
    position: relative; }
    .search_wrap .input_wrap #input_search {
      width: 100%;
      font-size: 24px;
      line-height: 36px;
      padding-left: 15px;
      padding-right: 60px;
      border-radius: 50px;
      border: 0;
      outline: none; }
      .search_wrap .input_wrap #input_search:focus + label,
      .search_wrap .input_wrap #input_search:valid + label {
        top: 0;
        transform: translateY(-150%);
        transition: 0.4s;
        font-size: 16px; }
      .search_wrap .input_wrap #input_search:focus {
        border: 0; }
    .search_wrap .input_wrap .input_pl {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.4s; }
    .search_wrap .input_wrap #start_search {
      width: 100px;
      font-size: 24px;
      font-family: 微軟正黑體, arial, "sans serif";
      height: 100%;
      color: #fff;
      background-color: #BB7232;
      border-radius: 0 50px 50px 0;
      border: 0;
      position: absolute;
      right: -3px;
      top: 50%;
      transform: translateY(-50%); }

.chickenMaster_wrap {
  width: 100%;
  position: relative;
  left: -30px; }
  .chickenMaster_wrap:after {
    content: "除了關鍵字，可以選擇指定搜尋餐點或飯團，底下篩選還可複選喔!";
    width: 60%;
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    right: -35px; }
  .chickenMaster_wrap:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    position: absolute;
    right: 25%;
    top: 0%;
    z-index: 1;
    transform: rotate(45deg);
    animation: search_down 0.5s infinite ease-out alternate; }
  .chickenMaster_wrap .chickenMaster {
    width: 100%;
    transform: scaleX(-1); }

@keyframes search_down {
  0% {
    top: 55%; }
  100% {
    top: 50%; } }

.bookmark {
  margin: 50px 0; }
  .bookmark input[type="radio"] {
    display: none; }

.bookmark_animation {
  padding: 25px;
  background-color: #FCF2CA;
  display: flex;
  justify-content: center;
  align-items: center; }

#bookmark_animation_meal,
#bookmark_animation_groupon {
  font-size: 24px;
  transform: scale(1);
  transition: 0.4s;
  position: relative;
  z-index: 1; }
  #bookmark_animation_meal::after, #bookmark_animation_meal::before,
  #bookmark_animation_groupon::after,
  #bookmark_animation_groupon::before {
    content: "";
    width: 80px;
    height: 80px;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: -28px;
    left: -16px;
    z-index: -1; }
  #bookmark_animation_meal::after,
  #bookmark_animation_groupon::after {
    border-radius: 47%;
    border-color: #fce444;
    border-color: rgba(252, 228, 68, 0.3);
    background-color: #fce444;
    background-color: rgba(252, 228, 68, 0.3);
    transform: translate(0, 0) rotate(0);
    animation: checkani 15s infinite linear; }
  #bookmark_animation_meal::before,
  #bookmark_animation_groupon::before {
    border-radius: 43%;
    border-color: #fce444;
    border-color: #fce444;
    background-color: #fce444;
    background-color: #fce444;
    transform: translate(-1%, -1%) rotate(0);
    animation: checkani 2s infinite linear; }

#bookmark_animation_meal {
  margin-right: 80px; }
  #bookmark_animation_meal::after, #bookmark_animation_meal::before {
    animation-delay: 0.3s; }

@keyframes checkani {
  0% {
    transform: translate(-1%, -1%) rotate(180deg); }
  100% {
    transform: translate(-1%, -1%) rotate(360deg); } }

#bookmark_meal:checked ~ .bookmark_animation > #bookmark_animation_meal,
#bookmark_groupon:checked + .bookmark_animation > #bookmark_animation_groupon {
  background-color: #FCE444;
  transform: scale(1.4);
  transition: 0.4s; }

#bookmark_meal:checked ~ .bookmark_meal,
#bookmark_groupon:checked ~ .bookmark_groupon {
  display: block; }

.bookmark_animation_middle {
  position: relative;
  left: -30px;
  animation: rotate 20s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.ball {
  width: 15px;
  height: 15px;
  background-color: #fce444;
  border-radius: 50%;
  position: absolute;
  animation: ballani 2s infinite alternate linear; }

@keyframes ballani {
  0% {
    transform: translateX(40px);
    width: 15px;
    height: 15px; }
  100% {
    transform: translateX(40px);
    width: 30px;
    height: 30px; } }

.container1 {
  transform: rotate(40deg); }
  .container1 .ball {
    animation-delay: -0.9s; }

.container2 {
  transform: rotate(80deg); }
  .container2 .ball {
    animation-delay: -1.8s; }

.container3 {
  transform: rotate(120deg); }
  .container3 .ball {
    animation-delay: -2.7s; }

.container4 {
  transform: rotate(160deg); }
  .container4 .ball {
    animation-delay: -3.6s; }

.container5 {
  transform: rotate(200deg); }
  .container5 .ball {
    animation-delay: -4.5s; }

.container6 {
  transform: rotate(240deg); }
  .container6 .ball {
    animation-delay: -5.4s; }

.container7 {
  transform: rotate(280deg); }
  .container7 .ball {
    animation-delay: -6.3s; }

.container8 {
  transform: rotate(320deg); }
  .container8 .ball {
    animation-delay: -7.2s; }

.container9 {
  transform: rotate(360deg); }
  .container9 .ball {
    animation-delay: -8.1s; }

.container10 {
  transform: rotate(400deg); }
  .container10 .ball {
    animation-delay: -9s; }

.container11 {
  transform: rotate(440deg); }
  .container11 .ball {
    animation-delay: -9.9s; }

.container12 {
  transform: rotate(480deg); }
  .container12 .ball {
    animation-delay: -10.8s; }

.container13 {
  transform: rotate(520deg); }
  .container13 .ball {
    animation-delay: -11.7s; }

.container14 {
  transform: rotate(560deg); }
  .container14 .ball {
    animation-delay: -12.6s; }

.container15 {
  transform: rotate(600deg); }
  .container15 .ball {
    animation-delay: -13.5s; }

.container16 {
  transform: rotate(640deg); }
  .container16 .ball {
    animation-delay: -14.4s; }

.container17 {
  transform: rotate(680deg); }
  .container17 .ball {
    animation-delay: -15.3s; }

.container18 {
  transform: rotate(720deg); }
  .container18 .ball {
    animation-delay: -16.2s; }

.container19 {
  transform: rotate(760deg); }
  .container19 .ball {
    animation-delay: -17.1s; }

.container20 {
  transform: rotate(800deg); }
  .container20 .ball {
    animation-delay: -18s; }

.container21 {
  transform: rotate(840deg); }
  .container21 .ball {
    animation-delay: -18.9s; }

.container22 {
  transform: rotate(880deg); }
  .container22 .ball {
    animation-delay: -19.8s; }

.container23 {
  transform: rotate(920deg); }
  .container23 .ball {
    animation-delay: -20.7s; }

.container24 {
  transform: rotate(960deg); }
  .container24 .ball {
    animation-delay: -21.6s; }

.container25 {
  transform: rotate(1000deg); }
  .container25 .ball {
    animation-delay: -22.5s; }

.container26 {
  transform: rotate(1040deg); }
  .container26 .ball {
    animation-delay: -23.4s; }

.container27 {
  transform: rotate(1080deg); }
  .container27 .ball {
    animation-delay: -24.3s; }

.container28 {
  transform: rotate(1120deg); }
  .container28 .ball {
    animation-delay: -25.2s; }

.container29 {
  transform: rotate(1160deg); }
  .container29 .ball {
    animation-delay: -26.1s; }

.container30 {
  transform: rotate(1200deg); }
  .container30 .ball {
    animation-delay: -27s; }

.bookmark_cetentier {
  display: none; }
  .bookmark_cetentier div {
    width: 100%; }
  .bookmark_cetentier label,
  .bookmark_cetentier #meal_Price1,
  .bookmark_cetentier #meal_Price2 {
    font-size: 20px;
    font-weight: bold;
    width: 82px;
    padding: 2% 0;
    background: #fff;
    border: 1px solid #FF5000;
    border-radius: 50px;
    margin: 4px; }

.bookmark_cetentier_item span {
  width: 110px;
  padding: 24px 0;
  font-size: 24px; }
  .bookmark_cetentier_item span:after {
    content: "";
    display: inline-block;
    width: 105%;
    height: 2px;
    margin-left: -2.5%;
    border-radius: 50px;
    background-color: #FF5000; }

.bookmark_cetentier_item .meal_Cal,
.bookmark_cetentier_item .grouponList_No,
.bookmark_cetentier_item .groupon_avg {
  width: 124px; }

.bookmark_cetentier_item #meal_Price1,
.bookmark_cetentier_item #meal_Price2 {
  display: block;
  width: 124px;
  margin: auto; }

#mealGenre_No1:hover ~ .mealGenre_No:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No1:checked ~ .mealGenre_No:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No2:hover ~ .mealGenre_No:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No2:checked ~ .mealGenre_No:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No3:hover ~ .mealGenre_No:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No3:checked ~ .mealGenre_No:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No4:hover ~ .mealGenre_No:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No4:checked ~ .mealGenre_No:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No5:hover ~ .mealGenre_No:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No5:checked ~ .mealGenre_No:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No6:hover ~ .mealGenre_No:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No6:checked ~ .mealGenre_No:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal1:hover ~ .meal_Cal:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal1:checked ~ .meal_Cal:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal2:hover ~ .meal_Cal:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal2:checked ~ .meal_Cal:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal3:hover ~ .meal_Cal:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal3:checked ~ .meal_Cal:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal4:hover ~ .meal_Cal:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal4:checked ~ .meal_Cal:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal5:hover ~ .meal_Cal:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal5:checked ~ .meal_Cal:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal6:hover ~ .meal_Cal:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal6:checked ~ .meal_Cal:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_search {
    width: 35px;
    height: 35px;
    position: absolute;
    right: calc(10% + 35px);
    top: 35px;
    z-index: 6;
    cursor: pointer; }
  .search_wrap {
    position: fixed;
    left: 0;
    top: 100px; }
    .search_wrap:after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: top; }
    .search_wrap .search_bg {
      width: 80%;
      height: 80%;
      border-radius: 0 0 50px 50px;
      display: inline-block;
      vertical-align: top; }
    .search_wrap .input_wrap {
      width: 80%;
      font-size: 30px;
      margin: 30px auto 0; }
      .search_wrap .input_wrap #input_search {
        font-size: 30px;
        line-height: 70px; }
        .search_wrap .input_wrap #input_search:hover {
          cursor: pointer; }
        .search_wrap .input_wrap #input_search:focus + label,
        .search_wrap .input_wrap #input_search:valid + label {
          font-size: 30px;
          cursor: text; }
        .search_wrap .input_wrap #input_search:focus {
          cursor: text; }
    .search_wrap .input_pl {
      left: 50px; }
      .search_wrap .input_pl:hover {
        cursor: pointer; }
    .search_wrap #start_search {
      font-size: 36px;
      color: #333333;
      background-color: #fff;
      right: 4px; }
      .search_wrap #start_search:hover {
        cursor: pointer; }
  .chickenMaster_wrap {
    width: 30%;
    min-width: 352px;
    max-width: 550px;
    position: absolute;
    left: 0;
    bottom: 10%; }
    .chickenMaster_wrap:after {
      content: '指定搜尋餐點或飯團進行搜尋!';
      width: 15%;
      min-width: 80px;
      font-size: 20px;
      padding: 15px 20px;
      border: 1px solid #000;
      background-color: #fff;
      top: auto;
      right: auto;
      left: 30px;
      bottom: 100%; }
    .chickenMaster_wrap:before {
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      background-color: #fff;
      right: 65%;
      top: calc(0% - 9px);
      animation: none; }
  .bookmark {
    text-align: left; }
  .bookmark_animation {
    padding: 80px; }
  #bookmark_animation_meal,
  #bookmark_animation_groupon {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer; }
    #bookmark_animation_meal::after, #bookmark_animation_meal::before,
    #bookmark_animation_groupon::after,
    #bookmark_animation_groupon::before {
      width: 120px;
      height: 120px;
      border-width: 3px;
      border-style: solid;
      top: -42px;
      left: -30px; }
    #bookmark_animation_meal::before,
    #bookmark_animation_groupon::before {
      border-color: #fce444;
      border-color: rgba(252, 228, 68, 0.7);
      background-color: #fce444;
      background-color: rgba(252, 228, 68, 0.9); }
  #bookmark_animation_meal {
    margin-right: 150px; }
  .bookmark_animation_middle {
    left: -65px; }
  .ball {
    width: 20px;
    height: 20px;
    animation: ballani 2s infinite alternate linear; }
  @keyframes ballani {
    0% {
      transform: translateX(85px);
      width: 20px;
      height: 20px; }
    100% {
      transform: translateX(85px);
      width: 45px;
      height: 45px; } }
  .bookmark_cetentier {
    padding-left: 13%;
    padding-top: 30px;
    width: 100%; }
  .bookmark_cetentier_item {
    width: 100%;
    position: relative; }
    .bookmark_cetentier_item:after {
      content: "";
      display: block;
      width: 90%;
      height: 2px;
      border-radius: 50px;
      background-color: #FF5000;
      margin: 5px 0; }
    .bookmark_cetentier_item span {
      width: 110px;
      padding: 20px 0;
      display: inline-block;
      text-align: center;
      background: transparent;
      font-size: 24px; }
      .bookmark_cetentier_item span:after {
        content: "";
        display: none; }
    .bookmark_cetentier_item div {
      width: 75%; }
    .bookmark_cetentier_item label,
    .bookmark_cetentier_item #meal_Price1,
    .bookmark_cetentier_item #meal_Price2 {
      text-align: center;
      margin: 4px;
      cursor: pointer;
      padding: 0.5% 0; }
    .bookmark_cetentier_item #meal_Price1,
    .bookmark_cetentier_item #meal_Price2 {
      display: inline-block;
      cursor: text; } }

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .part-md-1 {
    width: 8.33333%; }
  .part-md-2 {
    width: 16.66667%; }
  .part-md-3 {
    width: 25%; }
  .part-md-4 {
    width: 33.33333%; }
  .part-md-5 {
    width: 41.66667%; }
  .part-md-6 {
    width: 50%; }
  .part-md-7 {
    width: 58.33333%; }
  .part-md-8 {
    width: 66.66667%; }
  .part-md-9 {
    width: 75%; }
  .part-md-10 {
    width: 83.33333%; }
  .part-md-11 {
    width: 91.66667%; }
  .part-md-12 {
    width: 100%; }
  .part-md-1, .part-md-2, .part-md-3, .part-md-4, .part-md-5, .part-md-6, .part-md-7, .part-md-8, .part-md-9, .part-md-10, .part-md-11, .part-md-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .chickenMaster_wrap:after {
    content: '除了關鍵字，可以選擇指定搜尋餐點或飯團，底下篩選還可複選喔!';
    width: 32%;
    bottom: 100%; }
  .chickenMaster_wrap:before {
    top: calc(0% - 9px); }
  #bookmark_animation_meal::after, #bookmark_animation_meal::before,
  #bookmark_animation_groupon::after,
  #bookmark_animation_groupon::before {
    content: "";
    top: -42px;
    left: -30px; }
  #meal_Price1,
  #meal_Price2 {
    position: relative; } }

@media screen and (min-width: 1200px) {
  .part-lg-1 {
    width: 8.33333%; }
  .part-lg-2 {
    width: 16.66667%; }
  .part-lg-3 {
    width: 25%; }
  .part-lg-4 {
    width: 33.33333%; }
  .part-lg-5 {
    width: 41.66667%; }
  .part-lg-6 {
    width: 50%; }
  .part-lg-7 {
    width: 58.33333%; }
  .part-lg-8 {
    width: 66.66667%; }
  .part-lg-9 {
    width: 75%; }
  .part-lg-10 {
    width: 83.33333%; }
  .part-lg-11 {
    width: 91.66667%; }
  .part-lg-12 {
    width: 100%; }
  .part-lg-1, .part-lg-2, .part-lg-3, .part-lg-4, .part-lg-5, .part-lg-6, .part-lg-7, .part-lg-8, .part-lg-9, .part-lg-10, .part-lg-11, .part-lg-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .chickenMaster_wrap:after {
    width: 70%;
    bottom: 100%; }
  .chickenMaster_wrap:before {
    top: calc(0% - 9px); }
  .bookmark_animation {
    padding: 100px; }
  .bookmark_cetentier {
    padding-left: 25%; }
  .bookmark_cetentier_item:after {
    content: "";
    display: none; }
  .bookmark_cetentier_item div {
    width: 80%; }
  .bookmark_cetentier_item span {
    background: transparent;
    margin-right: 10px;
    padding: 10px 0 0; }
    .bookmark_cetentier_item span:after {
      display: inline-block; }
  .bookmark_cetentier_item #meal_Price1,
  .bookmark_cetentier_item #meal_Price2 {
    cursor: text;
    position: relative; } }

#close_login {
  display: none; }

.to_sigin, .to_sigup, .to_get_Psw {
  display: none; }

#to_sigin:checked ~ .to_sigin,
#to_sigup:checked ~ .to_sigup,
#to_get_Psw:checked ~ .to_get_Psw {
  display: block; }

#to_sigin:checked ~ .login_mark .sig_in,
#to_sigup:checked ~ .login_mark .sig_up {
  color: #333333;
  border-bottom: 10px solid #FCE444;
  transition: .4s; }

#close_login:checked ~ #login_wrap {
  display: none; }

.close_login {
  width: 70px;
  height: 70px;
  background-color: #FCE444;
  border-radius: 50% 0 0 50%;
  position: absolute;
  left: calc(100% - 55px);
  top: -35px;
  z-index: 10; }
  .close_login::before {
    content: '';
    transform: rotate(-45deg);
    top: calc( 90% - 17px);
    left: calc( 55% - 17px);
    border-radius: 50px; }
  .close_login::after {
    content: '';
    transform: rotate(45deg);
    top: calc( 90% - 17px);
    left: calc( 55% - 17px);
    border-radius: 50px; }

.input_mem {
  transition: 0.4s;
  outline: 0; }
  .input_mem:invalid {
    border-bottom: 2px solid #FCE444; }
  .input_mem:focus {
    border: 0;
    margin-right: -10px;
    transition: 0.4s;
    padding: 0 15px 0 45px; }
  .input_mem:valid {
    margin-right: -10px;
    padding: 0 15px 0 45px;
    transition: 0.4s; }
  .input_mem:focus ~ label,
  .input_mem:valid ~ label {
    left: -45px;
    transition: 0.4s;
    font-size: 16px; }
  .input_mem:focus ~ label > img {
    left: 55px;
    transition: 0.4s; }
  .input_mem:valid ~ label > img {
    left: 55px;
    transition: 0.4s; }

.login_wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fcf2ca;
  background-color: #fcf2ca;
  border: 10px solid #FCE444;
  position: absolute;
  top: 140px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 3; }
  .login_wrap * {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #333333; }
  .login_wrap input[type="radio"] {
    display: none; }

.login_heard {
  height: 20%; }

.login_mark {
  text-align: center;
  padding: 50px 0 15px; }
  .login_mark label {
    width: 50%;
    float: left;
    padding: 15px 0;
    font-size: 24px;
    border-bottom: 10px solid #0003;
    color: #0008; }

.longing_input {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  position: relative; }
  .longing_input * {
    vertical-align: middle; }
  .longing_input img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    opacity: .5;
    transition: 0.4s; }
  .longing_input input {
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 0;
    background: #fff9; }
  .longing_input label {
    font-size: 16px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .7;
    transition: 0.4s; }

.longing_input .check {
  left: calc(100% + 25px);
  display: none; }

.longing_input .eye {
  left: calc(100% - 45px);
  display: none; }

.login_placeholder {
  padding: 2px 5px;
  border: 2px solid #FCE444;
  background-color: #FCE444;
  border-radius: 5px;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 1; }
  .login_placeholder:after {
    content: '';
    width: 15px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid #FCE444;
    position: absolute;
    left: 0;
    z-index: -1; }

.cover_run_wrap {
  text-align: center;
  padding: 45px 0; }
  .cover_run_wrap button {
    width: 65%;
    height: 36px;
    font-size: 24px;
    font-family: 微軟正黑體, arial, "sans serif";
    border-radius: 50px;
    border: 0;
    background-color: #BB7232;
    box-shadow: 2px 5px 0px #76391B;
    transition: .2s;
    color: #fff9; }
    .cover_run_wrap button:hover {
      box-shadow: 0px 0px 0px #76391B;
      transform: translate(2px, 5px);
      transition: .4s; }

.to_sigup .cover_run_wrap {
  padding: 32px 0; }

.cover_run.to_Psw {
  width: 100%;
  padding: 4px 0;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #208ee8; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_login {
    width: 70px;
    height: 70px;
    background-color: #FCE444;
    border-radius: 50% 0 0 50%;
    position: absolute;
    left: calc(100% - 55px);
    top: -35px;
    border-radius: 50px;
    z-index: 10; }
    .close_login:after {
      transform: translate(-10%, -10px) rotate(45deg); }
    .close_login:before {
      transform: translate(-10%, -10px) rotate(-45deg); }
  #to_sigin:checked ~ .login_mark .sig_in,
  #to_sigup:checked ~ .login_mark .sig_up {
    color: #333333;
    border-bottom: 20px solid #FCE444;
    transition: .4s; }
  .btn_cup {
    cursor: pointer; }
  .close_login {
    border-radius: 50%;
    left: 100%;
    top: -35px; }
  .input_mem:focus {
    cursor: text;
    margin-right: -20px;
    margin-left: auto; }
  .input_mem:valid {
    margin-right: -20px; }
  .input_mem:focus ~ label,
  .input_mem:valid ~ label {
    left: -35px; }
  .login_wrap {
    width: 320px;
    height: 640px;
    overflow-x: inherit;
    overflow-y: inherit;
    border: 20px solid #FCE444;
    border-radius: 50px;
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3; }
  .login_heard {
    height: 25%;
    border-radius: 50px 50px 0 0; }
  .login_mark {
    padding: 15px 0; }
    .login_mark label {
      font-size: 30px;
      border-bottom: 20px solid #0003; }
  .longing_input input {
    border-radius: 50px; }
  .cover_run_wrap button {
    width: 70%; } }
