@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 微軟正黑體, arial, "sans serif";
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

.bookmark_meal .bookmark_meal_item span, .bookmark_meal .bookmark_meal_item div, .bookmark_meal .bookmark_meal_item label,
.bookmark_meal .bookmark_meal_item #meal_Price1,
.bookmark_meal .bookmark_meal_item #meal_Price2 {
  display: inline-block;
  vertical-align: middle; }

.close_login::before, .close_login::after, .close_chatBot::before, .close_chatBot::after {
  display: block;
  background-color: #76391B;
  width: 35px;
  height: 3px;
  position: absolute; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

#close_login {
  display: none; }

.to_sigin, .to_sigup, .to_get_Psw {
  display: none; }

#to_sigin:checked ~ .to_sigin,
#to_sigup:checked ~ .to_sigup,
#to_get_Psw:checked ~ .to_get_Psw {
  display: block; }

#to_sigin:checked ~ .login_mark .sig_in,
#to_sigup:checked ~ .login_mark .sig_up {
  color: #333333;
  border-bottom: 10px solid #425075;
  transition: .4s; }

#close_login:checked ~ #login_wrap {
  display: none; }

.close_login {
  width: 70px;
  height: 70px;
  background-color: #425075;
  border-radius: 50% 0 0 50%;
  position: absolute;
  left: calc(100% - 55px);
  top: -35px;
  z-index: 10; }
  .close_login::before {
    content: '';
    transform: rotate(-45deg);
    top: calc( 90% - 17px);
    left: calc( 55% - 17px);
    border-radius: 50px; }
  .close_login::after {
    content: '';
    transform: rotate(45deg);
    top: calc( 90% - 17px);
    left: calc( 55% - 17px);
    border-radius: 50px; }

.input_mem {
  transition: 0.4s;
  outline: 0; }
  .input_mem:invalid {
    border-bottom: 2px solid #FCE444; }
  .input_mem:focus {
    border: 0;
    margin-right: -10px;
    transition: 0.4s;
    padding: 0 15px 0 45px; }
  .input_mem:valid {
    margin-right: -10px;
    padding: 0 15px 0 45px;
    transition: 0.4s; }
  .input_mem:focus ~ label,
  .input_mem:valid ~ label {
    left: -45px;
    transition: 0.4s;
    font-size: 16px; }
  .input_mem:focus ~ label > img {
    left: 55px;
    transition: 0.4s; }
  .input_mem:valid ~ label > img {
    left: 55px;
    transition: 0.4s; }

#login_wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background-color: #aaa9; }

.login_wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(../images/bg-dot.png);
  background-position: top left;
  background-size: 6px 6px;
  background-repeat: repeat;
  background-color: #fcf2ca;
  background-color: #fcf2ca;
  border: 10px solid #425075; }
  .login_wrap * {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    outline: 1px solid #f00; }
  .login_wrap input[type="radio"] {
    display: none; }

.login_mark {
  text-align: center;
  padding: 50px 0 15px; }
  .login_mark label {
    width: 50%;
    float: left;
    padding: 15px 0;
    font-size: 24px;
    border-bottom: 10px solid #0003;
    color: #0008; }

.longing_input {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  position: relative; }
  .longing_input * {
    vertical-align: middle; }
  .longing_input img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    opacity: .5;
    transition: 0.4s; }
  .longing_input input {
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 0;
    background: #fff9; }
  .longing_input label {
    font-size: 16px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .7;
    transition: 0.4s; }

.longing_input .check {
  left: calc(100% + 25px);
  display: none; }

.longing_input .eye {
  left: calc(100% - 45px);
  display: none; }

.login_placeholder {
  padding: 2px 5px;
  border: 2px solid #FCE444;
  background-color: #FCE444;
  border-radius: 10px;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 1; }
  .login_placeholder:after {
    content: '';
    width: 15px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid #FCE444;
    position: absolute;
    left: 0;
    z-index: -1; }

.cover_run_wrap {
  text-align: center;
  padding: 45px 0; }
  .cover_run_wrap button {
    width: 65%;
    height: 36px;
    font-size: 24px;
    font-family: 微軟正黑體, arial, "sans serif";
    border-radius: 50px;
    border: 0;
    background-color: #BB7232;
    box-shadow: 2px 5px 0px #76391B;
    transition: .2s;
    color: #fff; }
    .cover_run_wrap button:hover {
      box-shadow: 0px 0px 0px #76391B;
      transform: translate(2px, 5px);
      transition: .4s; }

.to_sigup .cover_run_wrap {
  padding: 32px 0; }

.cover_run.to_Psw {
  width: 100%;
  padding: 4px 0;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #208ee8; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_login {
    width: 70px;
    height: 70px;
    border-radius: 0 50% 0 50%;
    position: absolute;
    left: 79%;
    top: 0px;
    z-index: 10; }
    .close_login:after {
      transform: translate(-10%, -10px) rotate(45deg); }
    .close_login:before {
      transform: translate(-10%, -10px) rotate(-45deg); }
  .btn_cup {
    cursor: pointer; }
  .input_mem:focus {
    cursor: text;
    margin-right: -20px;
    margin-left: auto; }
  .input_mem:valid {
    margin-right: -20px; }
  .input_mem:focus ~ label,
  .input_mem:valid ~ label {
    left: -35px; }
  #login_wrap {
    position: fixed;
    z-index: 3;
    background-color: #aaa9; }
  .login_wrap {
    width: 320px;
    height: 65%;
    overflow-x: inherit;
    overflow-y: inherit;
    border-radius: 50px;
    box-shadow: 4px 4px 17px #aaa;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
  .login_mark {
    padding: 100px 0 15px; }
    .login_mark label {
      font-size: 30px; }
  .longing_input input {
    border-radius: 50px; }
  .cover_run_wrap button {
    width: 70%; } }

#chatBot {
  width: 100%;
  height: calc(100% - 75px);
  position: absolute;
  left: 0;
  z-index: 10; }
  #chatBot * {
    box-sizing: border-box; }

.chatBot_contenier_wrap {
  display: none;
  height: 100%;
  background-color: #208ee8;
  padding: 0 16px;
  text-align: center;
  letter-spacing: 1px; }
  .chatBot_contenier_wrap h3 {
    padding: 15px 0;
    display: inline-block;
    font-weight: bold;
    color: #fff; }

#chatBot_content {
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  height: calc(100% - 175px);
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 16px 0; }
  #chatBot_content::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #425075;
    background-color: rgba(66, 80, 117, 0.7);
    border-radius: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  #chatBot_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  #chatBot_content p {
    border-radius: 10px;
    background-color: #FCE444;
    padding: 10px;
    line-height: 1.6em;
    margin: 10px 0;
    position: relative; }
  #chatBot_content .chatBot_content_A {
    float: left;
    margin-right: 14%; }
    #chatBot_content .chatBot_content_A:after {
      content: '';
      width: 100%;
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_A:before {
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #FCE444;
      border-left: 15px solid transparent;
      position: absolute;
      top: 5px;
      left: -25px; }
  #chatBot_content .chatBot_content_Q {
    float: right; }
    #chatBot_content .chatBot_content_Q:after {
      content: '';
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_Q:before {
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid #FCE444;
      position: absolute;
      top: 5px;
      right: -25px; }

.chatBot_keyword {
  padding: 10px 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .chatBot_keyword::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #425075;
    background-color: rgba(66, 80, 117, 0.7);
    border-radius: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  .chatBot_keyword::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  .chatBot_keyword li {
    display: inline-block;
    margin-left: 5px;
    background-color: rgba(237, 174, 91, 0.89);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer; }

.chatBot_text_Wrap {
  padding: 16px 0;
  position: relative; }

#chatBot_search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.chatBot_text {
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: 0; }

#close_chatBot {
  display: none; }

.close_chatBot_pic img {
  width: 100px;
  vertical-align: middle; }

.close_chatBot {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer; }
  .close_chatBot::before {
    content: '';
    transform: rotate(-45deg);
    top: calc( 100% - 17px);
    left: calc( 50% - 17px); }
    .close_chatBot::before::before {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
    .close_chatBot::before::after {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
  .close_chatBot::after {
    content: '';
    transform: rotate(45deg);
    top: calc( 100% - 17px);
    left: calc( 50% - 17px); }
    .close_chatBot::after::before {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }
    .close_chatBot::after::after {
      top: calc( 100% - 20px);
      left: calc( 50% - 20px); }

#close_chatBot:checked ~ #chatBot {
  top: 75px; }

#chatBot .close_chatBot_pic img {
  display: none; }

#close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
  display: block;
  width: auto;
  transition: height 0.4s; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  #chatBot {
    width: auto;
    max-width: 380px;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    height: auto;
    z-index: 99; }
  .close_chatBot_pic {
    float: right;
    cursor: pointer; }
  .chatBot_contenier_wrap {
    width: 0;
    height: 0;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden; }
    .chatBot_contenier_wrap .close_chatBot {
      width: 30px;
      height: 40px;
      position: absolute;
      right: 15px;
      opacity: 0;
      cursor: pointer; }
  .chatBot_keyword {
    padding: 10px 0;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; }
  .chatBot_text {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 0; }
  #close_chatBot:checked ~ #chatBot {
    top: auto; }
  #close_chatBot:checked ~ #chatBot .close_chatBot {
    opacity: 1;
    transition: 0.8s; }
  #chatBot .close_chatBot_pic img {
    display: block; }
  #close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
    display: block;
    height: 420px; } }

header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100; }
  header * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none; }
  header #navctrl {
    display: none; }
    header #navctrl:checked ~ .phone-nav .hb .line {
      transform: rotate(360deg);
      opacity: 0;
      transition: 0.3s; }
    header #navctrl:checked ~ .phone-nav .hb:before {
      transform: translateY(13.5px) rotate(225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ .phone-nav .hb:after {
      transform: translateY(-13px) rotate(-225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ nav {
      transform: translate(-350px, 1000px) rotate(0deg);
      top: -1000px;
      left: 350px;
      transition: transform 1s; }
  header .phone-nav {
    padding: 0 40px 0 10px;
    height: 75px;
    background: url(../image/nav_background_768.png) repeat-x;
    position: relative; }
    header .phone-nav:after {
      content: '';
      width: 0;
      height: 120%;
      display: inline-block;
      vertical-align: middle; }
    header .phone-nav div {
      width: 33.33333333%;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      header .phone-nav div.nav-left {
        text-align: left; }
      header .phone-nav div.nav-right {
        text-align: right; }
    header .phone-nav .hb {
      margin: auto;
      width: 70px;
      height: 50px;
      cursor: pointer;
      opacity: .8;
      transition: .5s;
      position: absolute;
      top: 28%;
      z-index: 1001; }
      header .phone-nav .hb .line, header .phone-nav .hb:before, header .phone-nav .hb:after {
        content: '';
        margin: auto;
        width: 60%;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 21%;
        left: 0;
        transition: 0.3s; }
      header .phone-nav .hb:before {
        bottom: auto; }
      header .phone-nav .hb:after {
        top: auto; }
    header .phone-nav .logo img {
      height: 90px; }
    header .phone-nav .seach-button {
      padding: 23px 9px 18px;
      color: #76391b;
      border-radius: 50%;
      background-color: #fcf2ca;
      box-shadow: 1px 3px 1px #ad6631;
      cursor: pointer; }
      header .phone-nav .seach-button img {
        margin-top: -6px;
        vertical-align: middle; }
  header nav {
    transition: 1s;
    position: absolute;
    transform: translate(0, 0) rotate(-90deg);
    top: -1000px;
    left: 350px;
    transition: transform 1s; }
    header nav:before {
      content: '';
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background-color: #425075;
      transform-origin: left top;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0; }
    header nav ul {
      position: relative;
      left: 50%; }
      header nav ul li {
        margin-bottom: 20px; }
      header nav ul .logo {
        margin-bottom: 30px; }
        header nav ul .logo img {
          margin-top: -15px;
          height: 140px; }
      header nav ul .member {
        margin-bottom: 35px; }
        header nav ul .member .before-login {
          display: none; }
          header nav ul .member .before-login a {
            margin-right: 20px; }
        header nav ul .member .after-login {
          display: inline-block; }
          header nav ul .member .after-login div {
            display: inline-block;
            vertical-align: middle; }
            header nav ul .member .after-login div .member-Pic {
              width: 35px;
              height: 35px;
              border-radius: 50%; }
            header nav ul .member .after-login div img {
              cursor: pointer; }
            header nav ul .member .after-login div span {
              padding: 5px 10px;
              font-size: 12px;
              color: #fff;
              display: inline-block; }
              header nav ul .member .after-login div span .achievement-Pic {
                margin: -5px 8px 0 2px;
                vertical-align: middle; }
  header #white-Point-control {
    display: none; }
    header #white-Point-control:checked ~ .white-Point {
      width: 70vmin;
      height: 70vmin;
      transform: translate(-50%, -50%);
      transition: 1s;
      top: 50%;
      left: 50%; }
      header #white-Point-control:checked ~ .white-Point li {
        display: inline-block; }
  header .white-Point {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #425075;
    position: fixed;
    transition: 1s;
    top: 80px;
    right: 0%;
    z-index: 101; }
    header .white-Point.floaty.active {
      z-index: 10001; }
    header .white-Point.floaty:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-top: 0; }
    header .white-Point.floaty.active:before {
      content: "";
      display: block;
      top: -500%;
      left: -500%;
      width: 1100%;
      height: 1100%; }
    header .white-Point ul {
      text-align: center; }
      header .white-Point ul li {
        margin: 0 auto;
        width: 50%;
        height: 23.33333333vmin;
        display: none; }
        header .white-Point ul li:after {
          content: '';
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        header .white-Point ul li a {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block; }
          header .white-Point ul li a img {
            margin-bottom: 5px;
            width: 40%; }
        header .white-Point ul li:nth-of-type(1) {
          width: 100%; }
        header .white-Point ul li:nth-of-type(4), header .white-Point ul li:nth-of-type(5) {
          max-width: 120px; }
  header #view1 {
    display: none; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../image/nav_background.png);
    font-size: 0;
    text-align: center; }
    header #navctrl:checked ~ nav {
      transform: translate(0, 0) rotate(0deg);
      top: 0px;
      left: 0px;
      transition: 0s; }
    header .phone-nav {
      padding: 0;
      width: 14.28571428%;
      height: 100px;
      background: none;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      header .phone-nav div.nav-right {
        width: 100%;
        text-align: center; }
        header .phone-nav div.nav-right .seach-button {
          padding: 10px 40px 10px 10px;
          border-radius: 20px;
          font-size: 16px; }
      header .phone-nav .nav-left, header .phone-nav .logo {
        font-size: 0;
        margin: 0;
        padding: 0;
        display: none; }
        header .phone-nav .nav-left img, header .phone-nav .logo img {
          height: 120px; }
    header nav {
      width: 71.42857142%;
      position: relative;
      display: inline-block;
      transform: translate(0, 0) rotate(0deg);
      transition: 0s;
      top: 0px;
      left: 0px;
      vertical-align: top; }
      header nav:before {
        display: none; }
      header nav ul {
        width: 100%;
        height: 100px;
        display: inline-block;
        position: static; }
        header nav ul li {
          width: 20%;
          height: 100px;
          display: inline-block;
          vertical-align: top; }
          header nav ul li:after {
            content: '';
            width: 0;
            height: 120%;
            display: inline-block;
            vertical-align: middle; }
          header nav ul li.table-hidden {
            display: none; }
          header nav ul li.logo {
            transform: translateX(200%); }
          header nav ul li.member {
            transform: translateX(300%); }
          header nav ul li.meals {
            transform: translateX(100%); }
          header nav ul li.initiate {
            transform: translateX(-300%); }
          header nav ul li.participate {
            transform: translateX(-300%); }
    header #white-Point-control {
      display: none; }
      header #white-Point-control:checked ~ .white-Point {
        width: 14.28571428%;
        height: 100px;
        transform: translate(0, 0);
        transition: 0s;
        position: static; }
        header #white-Point-control:checked ~ .white-Point li.table-hidden {
          display: none; }
    header .white-Point {
      margin: auto;
      width: 14.28571428%;
      height: 100px;
      border-radius: 0;
      background: none;
      vertical-align: top;
      display: inline-block;
      transform: translate(0, 0);
      transition: 0s;
      position: static; }
      header .white-Point:checked ~ .white-Point {
        width: 50px;
        height: 50px;
        transform: translate(0, 0);
        position: static; }
      header .white-Point ul {
        height: 100%; }
        header .white-Point ul:after {
          content: '';
          width: 0;
          height: 120%;
          display: inline-block;
          vertical-align: middle; }
        header .white-Point ul li {
          width: auto;
          height: auto;
          display: inline-block; }
          header .white-Point ul li.table-hidden {
            display: none; }
          header .white-Point ul li:nth-of-type(1) {
            width: auto; }
          header .white-Point ul li a {
            margin: 0 8px;
            padding: 6px;
            font-size: 0;
            color: #76391b;
            border-radius: 20px;
            background-color: #fcf2ca;
            box-shadow: 1px 3px 1px #ad6631;
            display: inline-block;
            position: relative; }
            header .white-Point ul li a img {
              width: 25px;
              height: 25px; }
            header .white-Point ul li a span {
              padding: 3px 7px 5px;
              font-size: 8px;
              color: #fff;
              background-color: #AD6631;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: -4px; }
    header #view1, header #view2, header #view3, header #view4, header #view5, header #view6, header #view7 {
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      header #view1 .slice, header #view2 .slice, header #view3 .slice, header #view4 .slice, header #view5 .slice, header #view6 .slice, header #view7 .slice {
        width: 100%;
        height: 10px;
        transform-style: preserve-3d;
        transform-origin: center top;
        transition: 150ms ease-in-out;
        background-image: url(../image/nav_background.png);
        perspective: 1000px;
        position: relative;
        top: 100%; }
      header #view1 .s1, header #view2 .s1, header #view3 .s1, header #view4 .s1, header #view5 .s1, header #view6 .s1, header #view7 .s1 {
        height: 80px;
        background: none;
        top: 0; }
    header li:not(.logo):not(.member):hover .s2 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 150ms;
      transform: translate3d(-4px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header li:not(.logo):not(.member):hover .s3 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 100ms;
      transform: translate3d(-6px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header #view1 .s1 {
      background-position: 0% 0; }
    header #view1 .s2 {
      background-position: 0% -80px; }
    header #view1 .s3 {
      background-position: 0% -90px; }
    header #view2 .s1 {
      background-position: -100% 0; }
    header #view2 .s2 {
      background-position: -100% -80px; }
    header #view2 .s3 {
      background-position: -100% -90px; }
    header #view3 .s1 {
      background-position: -200% 0; }
    header #view3 .s2 {
      background-position: -200% -80px; }
    header #view3 .s3 {
      background-position: -200% -90px; }
    header #view4 .s1 {
      background-position: -300% 0; }
    header #view4 .s2 {
      background-position: -300% -80px; }
    header #view4 .s3 {
      background-position: -300% -90px; }
    header #view5 .s1 {
      background-position: -400% 0; }
    header #view5 .s2 {
      background-position: -400% -80px; }
    header #view5 .s3 {
      background-position: -400% -90px; }
    header #view6 .s1 {
      background-position: -500% 0; }
    header #view6 .s2 {
      background-position: -500% -80px; }
    header #view6 .s3 {
      background-position: -500% -90px; }
    header #view7 .s1 {
      background-position: -600% 0; }
    header #view7 .s2 {
      background-position: -600% -80px; }
    header #view7 .s3 {
      background-position: -600% -90px; } }

.search_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 100px;
  z-index: 1; }
  .search_wrap * {
    box-sizing: border-box; }
  .search_wrap input[type="checkbox"] {
    display: none; }
  .search_wrap .search_bg {
    width: calc(100% - 30px);
    padding-bottom: 5px;
    margin: auto;
    background-color: transparent;
    border: 50px solid #FCF2CA;
    border-top: 0 solid; }
  .search_wrap .bookmark {
    text-align: center;
    margin: 50px 0; }
    .search_wrap .bookmark input[type="radio"] {
      display: none; }
  .search_wrap .input_wrap {
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid #BB7232;
    position: relative; }
  .search_wrap #input_search {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 60px;
    border-radius: 50px;
    border: 0;
    outline: none; }
    .search_wrap #input_search:focus + label,
    .search_wrap #input_search:valid + label {
      top: 0;
      transform: translateY(-150%);
      transition: 0.4s;
      font-size: 16px; }
    .search_wrap #input_search:focus {
      border: 0; }
  .search_wrap .input_pl {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s; }
  .search_wrap #start_search {
    font-size: 24px;
    font-family: 微軟正黑體, arial, "sans serif";
    line-height: 36px;
    color: #fff;
    background-color: #BB7232;
    border-radius: 0 50px 50px 0;
    border: 0;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%); }

.chickenMaster_wrap {
  width: 100%;
  padding-top: 30%;
  position: relative;
  left: -30px; }
  .chickenMaster_wrap:after {
    content: "除了關鍵字，可以選擇指定搜尋餐點或飯團，底下篩選還可複選喔!";
    width: 60%;
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    right: -35px; }
  .chickenMaster_wrap:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    position: absolute;
    right: 25%;
    top: 55%;
    z-index: 1;
    transform: rotate(45deg);
    animation: search_down 0.5s infinite ease-out alternate; }
  .chickenMaster_wrap .chickenMaster {
    width: 100%;
    transform: scaleX(-1); }

@keyframes search_down {
  0% {
    top: 55%; }
  100% {
    top: 50%; } }

.bookmark_animation {
  width: 100%;
  padding-left: 20%;
  text-align: left; }
  .bookmark_animation * {
    font-size: 30px;
    display: inline-block;
    padding: 15px 25px;
    background-color: #FCF2CA;
    border-radius: 10px 10px 0 0;
    cursor: pointer; }

.bookmark_meal {
  background-color: #FCF2CA;
  padding-left: 25%;
  padding-top: 75px;
  padding-bottom: 5%;
  height: 100%; }
  .bookmark_meal .bookmark_meal_item span {
    width: 110px;
    padding: 24px 0;
    font-size: 24px; }
    .bookmark_meal .bookmark_meal_item span:after {
      content: "";
      display: inline-block;
      width: 105%;
      height: 2px;
      margin-left: -2.5%;
      border-radius: 50px;
      background-color: rgba(237, 174, 91, 0.89); }
  .bookmark_meal .bookmark_meal_item div {
    width: 75%; }
  .bookmark_meal .bookmark_meal_item label,
  .bookmark_meal .bookmark_meal_item #meal_Price1,
  .bookmark_meal .bookmark_meal_item #meal_Price2 {
    font-size: 20px;
    font-weight: bold;
    width: 95px;
    padding: 2% 0;
    background: #fff;
    border: 1px solid rgba(237, 174, 91, 0.89);
    border-radius: 50px;
    margin: 4px; }
  .bookmark_meal .bookmark_meal_item .meal_Cal {
    width: 130px; }
  .bookmark_meal .bookmark_meal_item #meal_Price1,
  .bookmark_meal .bookmark_meal_item #meal_Price2 {
    display: block;
    width: 130px;
    margin: auto; }

#mealGenre_No1:hover ~ .mealGenre_No:nth-of-type(1) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No1:checked ~ .mealGenre_No:nth-of-type(1) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No2:hover ~ .mealGenre_No:nth-of-type(2) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No2:checked ~ .mealGenre_No:nth-of-type(2) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No3:hover ~ .mealGenre_No:nth-of-type(3) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No3:checked ~ .mealGenre_No:nth-of-type(3) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No4:hover ~ .mealGenre_No:nth-of-type(4) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No4:checked ~ .mealGenre_No:nth-of-type(4) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No5:hover ~ .mealGenre_No:nth-of-type(5) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No5:checked ~ .mealGenre_No:nth-of-type(5) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No6:hover ~ .mealGenre_No:nth-of-type(6) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#mealGenre_No6:checked ~ .mealGenre_No:nth-of-type(6) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal1:hover ~ .meal_Cal:nth-of-type(1) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal1:checked ~ .meal_Cal:nth-of-type(1) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal2:hover ~ .meal_Cal:nth-of-type(2) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal2:checked ~ .meal_Cal:nth-of-type(2) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal3:hover ~ .meal_Cal:nth-of-type(3) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal3:checked ~ .meal_Cal:nth-of-type(3) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal4:hover ~ .meal_Cal:nth-of-type(4) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal4:checked ~ .meal_Cal:nth-of-type(4) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal5:hover ~ .meal_Cal:nth-of-type(5) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal5:checked ~ .meal_Cal:nth-of-type(5) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal6:hover ~ .meal_Cal:nth-of-type(6) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

#meal_Cal6:checked ~ .meal_Cal:nth-of-type(6) {
  background-color: rgba(237, 174, 91, 0.89);
  color: #fff; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .search_wrap {
    position: fixed;
    left: 0; }
    .search_wrap:after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: top; }
    .search_wrap .search_bg {
      width: 80%;
      height: 80%;
      border-radius: 0 0 50px 50px;
      display: inline-block;
      vertical-align: top; }
    .search_wrap .input_wrap {
      width: 80%;
      font-size: 36px; }
    .search_wrap #input_search {
      font-size: 36px;
      line-height: 70px; }
      .search_wrap #input_search:hover {
        cursor: pointer; }
      .search_wrap #input_search:focus + label,
      .search_wrap #input_search:valid + label {
        font-size: 30px;
        cursor: text; }
      .search_wrap #input_search:focus {
        cursor: text; }
    .search_wrap .input_pl {
      left: 50px; }
      .search_wrap .input_pl:hover {
        cursor: pointer; }
    .search_wrap #start_search {
      font-size: 36px;
      line-height: 70px;
      color: #333333;
      background-color: #fff; }
      .search_wrap #start_search:hover {
        cursor: pointer; }
  .chickenMaster_wrap {
    width: 30%;
    min-width: 400px;
    max-width: 550px;
    position: absolute;
    left: 0;
    bottom: 10%; }
    .chickenMaster_wrap:after {
      width: 40%;
      min-width: 130px;
      font-size: 20px;
      padding: 15px 20px;
      border: 1px solid #000;
      background-color: #fff;
      top: auto;
      right: auto;
      left: 30px;
      bottom: 42%; }
    .chickenMaster_wrap:before {
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      background-color: #fff;
      right: 65%;
      top: calc(58% - 9px);
      animation: none; }
  .bookmark_meal {
    display: block;
    padding-left: 25%; }
    .bookmark_meal .bookmark_meal_item {
      width: 100%;
      position: relative; }
      .bookmark_meal .bookmark_meal_item:after {
        content: "";
        display: block;
        width: 90%;
        height: 2px;
        border-radius: 50px;
        background-color: rgba(237, 174, 91, 0.89);
        margin: 5px 0; }
      .bookmark_meal .bookmark_meal_item label,
      .bookmark_meal .bookmark_meal_item #meal_Price1,
      .bookmark_meal .bookmark_meal_item #meal_Price2 {
        width: 82px; }
      .bookmark_meal .bookmark_meal_item span {
        width: 110px;
        padding: 20px 0;
        display: inline-block;
        text-align: center;
        background: transparent;
        font-size: 24px; }
        .bookmark_meal .bookmark_meal_item span:after {
          content: "";
          display: none; }
      .bookmark_meal .bookmark_meal_item div {
        width: 70%; }
      .bookmark_meal .bookmark_meal_item label,
      .bookmark_meal .bookmark_meal_item #meal_Price1,
      .bookmark_meal .bookmark_meal_item #meal_Price2 {
        text-align: center;
        margin: 4px;
        cursor: pointer;
        padding: 0.5% 0; }
      .bookmark_meal .bookmark_meal_item #meal_Price1,
      .bookmark_meal .bookmark_meal_item #meal_Price2 {
        display: inline-block;
        cursor: text; } }

@media screen and (min-width: 1024px) {
  .part-md-1 {
    width: 8.33333%; }
  .part-md-2 {
    width: 16.66667%; }
  .part-md-3 {
    width: 25%; }
  .part-md-4 {
    width: 33.33333%; }
  .part-md-5 {
    width: 41.66667%; }
  .part-md-6 {
    width: 50%; }
  .part-md-7 {
    width: 58.33333%; }
  .part-md-8 {
    width: 66.66667%; }
  .part-md-9 {
    width: 75%; }
  .part-md-10 {
    width: 83.33333%; }
  .part-md-11 {
    width: 91.66667%; }
  .part-md-12 {
    width: 100%; }
  .part-md-1, .part-md-2, .part-md-3, .part-md-4, .part-md-5, .part-md-6, .part-md-7, .part-md-8, .part-md-9, .part-md-10, .part-md-11, .part-md-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .chickenMaster_wrap:after {
    width: 58%;
    bottom: 40%; }
  .chickenMaster_wrap:before {
    top: calc(60% - 9px); }
  .bookmark_meal .bookmark_meal_item div {
    width: 80%; }
  .bookmark_meal .bookmark_meal_item #meal_Price1,
  .bookmark_meal .bookmark_meal_item #meal_Price2 {
    position: relative; } }

@media screen and (min-width: 1200px) {
  .part-lg-1 {
    width: 8.33333%; }
  .part-lg-2 {
    width: 16.66667%; }
  .part-lg-3 {
    width: 25%; }
  .part-lg-4 {
    width: 33.33333%; }
  .part-lg-5 {
    width: 41.66667%; }
  .part-lg-6 {
    width: 50%; }
  .part-lg-7 {
    width: 58.33333%; }
  .part-lg-8 {
    width: 66.66667%; }
  .part-lg-9 {
    width: 75%; }
  .part-lg-10 {
    width: 83.33333%; }
  .part-lg-11 {
    width: 91.66667%; }
  .part-lg-12 {
    width: 100%; }
  .part-lg-1, .part-lg-2, .part-lg-3, .part-lg-4, .part-lg-5, .part-lg-6, .part-lg-7, .part-lg-8, .part-lg-9, .part-lg-10, .part-lg-11, .part-lg-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .chickenMaster_wrap:after {
    width: 70%;
    bottom: 39%; }
  .chickenMaster_wrap:before {
    top: calc(61% - 9px); }
  .bookmark_meal .bookmark_meal_item:after {
    content: "";
    display: none; }
  .bookmark_meal .bookmark_meal_item div {
    width: 80%; }
  .bookmark_meal .bookmark_meal_item span {
    background: transparent;
    margin-right: 10px;
    padding: 10px 0 0; }
    .bookmark_meal .bookmark_meal_item span:after {
      display: inline-block; }
  .bookmark_meal .bookmark_meal_item #meal_Price1,
  .bookmark_meal .bookmark_meal_item #meal_Price2 {
    cursor: text;
    position: relative; } }
